{% extends 'recipes/base.html' %}

{% block content %}
<div class="form-container">
    <h2>Редактирование рецепта: {{ recipe.title }}</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            {{ form.as_p }}
        </div>
        <button type="submit" class="btn btn-primary">Сохранить изменения</button>
        <a href="{% url 'recipe_details' recipe.id %}" class="btn btn-secondary">Отмена</a>
    </form>
</div>
{% endblock %}
