{% extends 'recipes/base.html' %}

{% block content %}
  <h2>Все рецепты</h2>

  {% for recipe in page_obj %}
    <div>
      <h3><a href="{% url 'recipe_details' recipe.id %}">{{ recipe.title }}</a></h3>
      <p>{{ recipe.description }}</p>
      ({{ recipe.cooking_time }} мин)
    </div>
  {% empty %}
    <p>Пока нет рецептов.</p>
  {% endfor %}

  <div class="pagination">
    <span class="step-links">
      {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; Первая</a>
        <a href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
      {% endif %}

      <span class="current">
        Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
      </span>

      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Следующая</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Последняя &raquo;</a>
      {% endif %}
    </span>
  </div>

{% endblock %}
